<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatPot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ChatPot.Properties.Settings>
            <setting name="rasa_path" serializeAs="String">
                <value>C:\Urst-Fipis-Projekt\Test\FiPi-Chatbot\Rasa</value>
            </setting>
        </ChatPot.Properties.Settings>
    </applicationSettings>
</configuration>